<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test thread-count="5" name="Test" >
    <classes>
      <class name="baseclass.ApiBaseTest"/>
      <class name="apitest.GenerateTokenTestApi"/>
      <class name="apitest.CreateBookingTestApi"/>
      <class name="apitest.UpdateBookingTestApi"/>
      <class name="apitest.GetBookingTestApi"/>
      <class name="apitest.DeleteBookingTestApi"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
